.typing-test-input {
    width: 100%;
    font-size: 2rem;
    padding: 0 .5rem 0 .5rem;
    border: 2px solid;
    border-radius: 3px;
}
.typing-test-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.typing-test-button, .typing-test-button-touchscreen {
    margin: .5rem .1875rem 0 .1875rem;
    font-size: 1.5rem;
    width: 2.7rem;
    min-width: unset;
    height: 2.7rem;
    border-width: 2px;
}
.typing-test-button-touchscreen {
    width: 3.25rem;
    height: 3.25rem;
}
.touchscreen-controls {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 0;
    justify-content: center;
    align-items: center;
}
.touchscreen-control-button {
    margin: 0 .5rem 0 .5rem;
    width: 7rem;
    height: 3.25rem;
    border-width: 2px;
}