.typing-test-input {
    width: 100%;
    font-size: 2rem;
    padding: 0 .5rem 0 .5rem;
    border: 2px solid;
    border-radius: 3px;
}
.typing-test-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.typing-test-button {
    margin: .5rem .1875rem 0 .1875rem;
    font-size: 1.5rem;
    width: 2.7rem;
    min-width: unset;
    height: 2.7rem;
    border-width: 2px;
}