<div class="typing-test">
    <input #typingTestInput matInput type="text" 
            class="typing-test-input" 
            [class]="resultClass"
            [disabled]="!typingEnabled || disabled" 
            [style.font-family]="promptFont" 
            (keyup)="onTypingTestKeyup($event)"
            [inputMode]="touchscreenMode ? 'none' : ''">
</div>
@if(typingTestButtonValues) {
    <div class="typing-test-buttons">
        @for(buttonVal of typingTestButtonValues; track buttonVal) {
            <button mat-stroked-button [class]="'typing-test-button' + (touchscreenMode ? '-touchscreen' : '')" 
                    [style.font-family]="promptFont" 
                    (click)="onTypingButtonClick(buttonVal)"
                    [disabled]="disabled">
                {{ buttonVal }}
            </button>
        }
    </div>  
}
@if(touchscreenMode) {
    <div class="touchscreen-controls">
        <button mat-stroked-button class="touchscreen-control-button" (click)="onCursorLeftClick()"><mat-icon>arrow_back</mat-icon></button>
        <button mat-stroked-button class="touchscreen-control-button" (click)="onDeleteClick()"><mat-icon>backspace</mat-icon></button>
        <button mat-stroked-button class="touchscreen-control-button" (click)="onCursorRightClick()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
}