.lexicon-select-grid {
    display: flex;
    flex-direction: row;
    padding: .3125rem 0 0 0;
    margin: 0 0 .3125rem 0;
}
.lexicon-header-image {
    margin: 0 .3125rem .3125rem .3125rem; 
}
.lexicon-title { 
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;   
    flex: 1;
    padding: .3125rem .3125rem 0 0;
}
.lexicon-action-buttons {
    display: flex;
    flex-direction: column;
}
.lexicon-action-button-row {
    display: flex;
    flex-direction: row;
    margin: .3125rem 0 0 0;
}
.lexicon-action-button {
    font-size: 1rem;
    height: 2.125rem;
    width: 9rem;
    margin: 0 1px 0 0;
}
.lexicon-more-menu-button {
    font-size: 1rem;
    height: 2.125rem;
    width: 2.125rem!important;
    min-width: unset!important;
}