@if(language) {
    <form>
        <div class="word-row">
            <mat-checkbox name="learned-checkbox" #learnedCheckbox (click)="onLearnedCheckboxClick($event)" class="learned-checkbox" [style.visibility]="learnedCheckboxVisibility" [(ngModel)]="learnedCheckboxChecked" [(indeterminate)]="learnedCheckboxIndeterminate" [disabled]="learnedCheckboxDisabled"></mat-checkbox>
            @for (languageElement of language.validElements; track languageElement.id) {
                
                @if(isInput) {
                    <mat-form-field class="word-input-field" subscriptSizing="dynamic" appearance="outline" style.flex="{{ languageElement.weight }}">
                        @if(applyLabels) {
                            <mat-label>{{ labelPrefix }}{{ languageElement.name }}</mat-label>
                        }

                        <input matInput [name]="languageElement.id" 
                                        class="word-edit-input"  
                                        (change)="onElementUpdate($event, languageElement.id)" 
                                        (keyup)="onElementKeyup($event, languageElement.id)" 
                                        [style.font-family]="getFontName(languageElement)" 
                                        [formControl]="elementFormControls[languageElement.id]" />

                    </mat-form-field>
                } @else {
                    <mat-label class="word-label-field" style.flex="{{ languageElement.weight }}"><span>{{ elementFormControls[languageElement.id].value }}</span></mat-label>
                }
            }
            
            @if(isInput) {
                <mat-form-field class="word-input-field" subscriptSizing="dynamic" appearance="outline" [style.flex]="1.5"> 
                    @if(applyLabels) {
                        <mat-label>{{ labelPrefix }}Attributes</mat-label>
                    }

                    <input name="currentAttributes" 
                           class="currentAttributes"
                           matInput
                           (change)="onAttributeUpdate($event)" 
                           (keyup)="onAttributeKeyup($event)" 
                           [formControl]="attributeFormControl" />

                </mat-form-field>
            } @else {
                <mat-label class="word-label-field" [style.flex]="1.5">{{ attributeFormControl.value }}</mat-label>
            }

            <button mat-stroked-button #editAudioButton class="audio-button" (click)="onAudioClick($event)" [style.visibility]="audioVisibility" [style.color]="audioButtonColor">Audio<mat-icon>{{ audioIcon }}</mat-icon></button>
            <button mat-icon-button [style.display]="addWordButtonDisplay" (click)="onSaveNewWordClick($event)"><mat-icon>save_alt</mat-icon></button>
            <button mat-icon-button [matMenuTriggerFor]="additionalWordOptions" [disabled]="!reviewHistory && onlyAllowWordEdit" [style.display]="additionalWordOptionsDisplay" [style.visibility]="additionalWordOptionsVisibility">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #additionalWordOptions="matMenu">
                @if(reviewHistory && reviewHistory.learned) {
                    <button mat-menu-item (click)="onViewHistoryClick($event)">View Word History</button>
                    <button mat-menu-item [matMenuTriggerFor]="manuallyRecordEvent" class="audio-button">Manually Record Event</button>
                }
                @if(!onlyAllowWordEdit) {
                    <button mat-menu-item (click)="onToggleWordLearned($event)">{{ reviewHistory && reviewHistory.learned ? "Clear learning history" : "Set as learned" }}</button>
                    <button mat-menu-item (click)="onDeleteWordClick($event)">Delete Word</button>
                }
            </mat-menu>
            <mat-menu #manuallyRecordEvent="matMenu">
                <button mat-menu-item (click)="onRecordEventIncorrect($event)">Incorrect</button>
                <button mat-menu-item (click)="onRecordEventIncorrectNearMiss($event)">Incorrect - Near Miss</button>
                <button mat-menu-item (click)="onRecordEventIncorrectCorrectTimeElapsed($event)">Correct - Time Elapsed</button>
            </mat-menu>
        </div>
    </form>
}