.review-prompt {
    min-height: 1.125rem;
    padding-top: .125rem;
    font-size: 2.25rem;
    text-align: center;
    font-weight: 500;
}
.show-after-test {
    font-size: 1.25rem;
    margin: 0 0 .25rem 0;
    text-align: right;
    transform: skewX(-12deg);  
}
.review-attributes {
    display: flex;
    justify-content: center;
    align-items: center;
}