.review-prompt {
    min-height: 1.125rem;
    padding-top: .5rem;
    font-size: 2.25rem;
    text-align: center;
    font-weight: 500;
}
.show-after-test {
    display: flex;
    flex-direction: row;
}
.pronunciation-guide {
    font-size: 1rem;
    margin: auto auto auto 0;
}
.show-after-test-text {
    font-size: 1.25rem;
    margin: 0 0 .25rem 0;
    text-align: right;
    transform: skewX(-12deg);  
}
.review-attributes {
    display: flex;
    justify-content: center;
    align-items: center;
}