.multiple-choice-select {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .5rem;
    margin: .5rem .5rem .5rem 0;
}
.multiple-choice-option {
    width: 100%;
    position: relative;
}
.multiple-choice-button {
    min-height: 3rem;
    height: fit-content;
    width: 100%;
    padding-top: .1875rem;
}
.multiple-choice-button-selected {
    border: 2px solid black;
    border-radius: 3px;
}
.multiple-choice-index {
    font-size: 1.1875rem;
    font-weight: bold;
}
.multiple-choice-value {
    font-size: 1.375rem;
    margin-left: .4rem; 
    font-weight: normal;
    padding: .5rem 0 .5rem .5rem;
}
.numeric-overlay {
    position: absolute;
    z-index: 2;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: .3rem;
}
