.lexicon-header-grid {
    display: flex;
    flex-direction: row;
    margin: 0 0 .625rem 0; 
}
.lexicon-header-image {
    margin: 0 .3125rem .3125rem .3125rem; 
}
.lexicon-title {
    display: flex;
    flex-direction: column;
    padding: 0 .3125rem .625rem .3125rem;
    flex: 1;
}
.lexicon-title-label {
    font-family: "Helvetica";
    font-size: 2.5rem;
    font-weight: bold;
    flex: 1;
    line-height: 1;            
}
.lexicon-description {
    font-style: italic;
}
.ssrs-icon-button {
    margin: 0 .3125rem 0 .3125rem;
    height: 3rem;
    width: 3rem;            
}
.ssrs-icon {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
}
.hidden-file-input {
    display: none;
}